
  .video-text {
   text-align: center;
   position:absolute;
   font-size: 40px;
   font-weight: 600;
    bottom: 300px;
      color: black;
    padding-left: 20px;
    padding-right: 20px;
  }

#div-style{
  margin-top: 30px;
}